# DA redshift access sample 

## Overview
ssh tunnelingが確立された状態で、 local laptop上のjupyter notebookから DA redshiftにアクセスし、SQLでデータを取得する方法のサンプルを共有する。


## Refs. 

- https://pypi.org/project/ipython-sql/
- https://stackoverflow.com/questions/38937162/how-to-connect-jupyter-ipython-notebook-to-amazon-redshift

# access to DA redshift via ipython-sql

## install  library

In [30]:
# !pip install -r ./requirements.txt

In [2]:
import psycopg2
import pandas as pd
import configparser

In [3]:
config = configparser.ConfigParser()
config.read('./da.ini')

con_info = {
    "host": "localhost",
    "port": 55439,
    "dbname": "ls",
    "username": config['redshift']['ls_cluster_user'],
    "password": config['redshift']['ls_cluster_password'],
}

In [10]:
def con_psycopg2():
    con_fomart = "dbname={dbname} host={host} user={username} password={password} port={port}"
    return psycopg2.connect(con_fomart.format(**con_info))

df = pd.DataFrame()
conn = con_psycopg2()

cur = conn.cursor()
# クエリをここに記述してください
raw_query = """
    SELECT *
    FROM bizmates_new.trn_student_note
    limit 5
"""
cur.execute(raw_query)

columns = [d.name for d in cur.description]

df = pd.DataFrame(cur.fetchall(), columns=columns)

cur.close()
conn.close()

In [11]:
df.head()

,note_id,teacher_id,student_id,note,created_at,updated_at
0,115157,120928,195446,内容をサマライズしてくれるが、その他は普通,2023-03-07 08:56:32,2023-03-07 08:56:32
1,115161,172078,41868,すごく良かった。ゆっくりめ・クリアで聞き取りやすいし、次々に質問してきてくれる。いろんな話を...,2023-03-07 08:57:33,2023-03-07 08:57:33
2,115165,64313,198538,初心者向け,2023-03-07 08:58:48,2023-03-07 08:58:48
3,115169,201685,203449,のんびり過ぎる,2023-03-07 09:03:41,2023-03-07 09:03:41
4,115173,182343,194483,発音がわかりづらい,2023-03-07 10:04:36,2023-03-07 10:04:36

In [12]:
import configparser


import sqlalchemy
import psycopg2

import pandas as pd
import numpy as np

%load_ext sql
%config SqlMagic.displaylimit = 10

config = configparser.ConfigParser()
config.read('./da.ini')

user          = config['redshift']['ls_cluster_user'] 
password = config['redshift']['ls_cluster_password'] 

host = "localhost" 
port = 55439
db    = "ls" 

connect_to_db = """postgresql+psycopg2://{user}:{password}@{host}:{port}/{db}""".format(user=user, password=password,\
                                                                                            host=host, port=port, db=db)

print(connect_to_db)

%sql $connect_to_db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
postgresql+psycopg2://riku_iwamoto:Eq5uGmbAUVUT@localhost:55439/ls

In [13]:
%%sql 

select 
 *
from bizmates_new.trn_student_note
limit 10;

 * postgresql+psycopg2://riku_iwamoto:***@localhost:55439/ls
10 rows affected.

[(115158, 176090, 202221, 'とても親切でテキストのコメントが多く良い講師だった。', datetime.datetime(2023, 3, 7, 8, 56, 43), datetime.datetime(2023, 3, 7, 8, 56, 43)),
 (115162, 187961, 175505, 'かんたん\u3000５', datetime.datetime(2023, 3, 7, 8, 57, 50), datetime.datetime(2023, 3, 7, 8, 57, 50)),
 (115166, 43022, 178830, 'I live in the outskirts of Metro Manila\nAntipolo City', datetime.datetime(2023, 3, 7, 8, 59, 48), datetime.datetime(2023, 3, 7, 8, 59, 48)),
 (115170, 183247, 203449, '進めるのが上手い', datetime.datetime(2023, 3, 7, 9, 5, 1), datetime.datetime(2023, 3, 7, 9, 5, 1)),
 (115174, 187961, 198244, 'あまり笑顔はない、真面目に進める形。作った文章に関して、より良い文章をチャットに入れてくれるので新しい表現を単語などがわかる。\n', datetime.datetime(2023, 3, 7, 10, 4, 48), datetime.datetime(2023, 3, 7, 10, 4, 48)),
 (115178, 92955, 189012, 'とても気さくな雰囲気で、英語の発音も綺麗。要所要所タイピングもしてくれるので、とても良さそう。', datetime.datetime(2023, 3, 7, 11, 26, 56), datetime.datetime(2023, 3, 7, 11, 26, 56)),
 (115182, 177735, 194850, '話しやすく、音声もクリア\n', datetime.datetime(2023, 3, 7, 11, 56, 4), datetime.datetime(2023, 3, 7, 11, 56, 4)),
 (115186, 198019, 10683, '4', datetime.datetime(2023, 3, 7, 12, 10, 11), datetime.datetime(2023, 3, 7, 12, 10, 11)),
 (115190, 150292, 195335, 'サクサクとレッスンを進めてくれて、会話がとてもしやすかった。またお願いしたい。', datetime.datetime(2023, 3, 7, 12, 57, 36), datetime.datetime(2023, 3, 7, 12, 57, 36)),
 (115194, 137125, 194492, '話す速度早いけど、ちょっと難しい質問をしてくれる\n日中帯でNW不調だった。\n', datetime.datetime(2023, 3, 7, 13, 19, 13), datetime.datetime(2023, 4, 30, 13, 8, 15))]

In [14]:
%sql result_set << select * from dm.bizmates_test_english_test_result;

 * postgresql+psycopg2://riku_iwamoto:***@localhost:55439/ls
192812 rows affected.
Returning data to local variable result_set

In [15]:
data = result_set.DataFrame()

In [16]:
data.head()

,student_id,bizmates_test_id,test_taken_datetime,bizmates_test_answer_id,question_number,question_id,is_correct
0,2629.0,6716.0,2022-01-10 22:27:54,5291,2,2,0
1,2629.0,6716.0,2022-01-10 22:27:54,5291,6,6,1
2,2629.0,6716.0,2022-01-10 22:27:54,5291,11,11,1
3,2629.0,6716.0,2022-01-10 22:27:54,5291,12,12,1
4,2629.0,6716.0,2022-01-10 22:27:54,5291,19,19,1

In [17]:
from collections import defaultdict
student_list = []
question_dict = defaultdict(list)
correct_dict = defaultdict(list)
for index, row in data.iterrows():
    student_id = row['student_id']
    question_id = row['question_id']
    correct_id = row['is_correct']
    if student_id not in student_list:
        student_list.append(student_id)
    question_dict[student_id].append(question_id)
    correct_dict[student_id].append(correct_id)

In [18]:
import random
random.shuffle(student_list)

In [19]:
len(student_list)

4211

In [30]:
all_question = []
for i in range(len(student_list)):
    s_id = student_list[i]
    question_list = question_dict[s_id]
    correct_list = correct_dict[s_id]
    all_question += correct_list

all_question = list(set(all_question))
print((all_question))

[0, 1, 2]

In [25]:
import csv
f = open('test_train0.csv', mode='w', newline='')
writer = csv.writer(f)
for i in range(0, 1000, 1):
    s_id = student_list[i]
    question_list = question_dict[s_id]
    correct_list = correct_dict[s_id]
    if len(question_list) != len(correct_list):
        continue
    if 2 in correct_list:
        continue
    writer.writerow([len(question_list)])
    writer.writerow(question_list)
    writer.writerow(correct_list)
f.close()

f = open('test_valid0.csv', mode='w', newline='')
writer = csv.writer(f)
for i in range(3368, 3789, 1):
    s_id = student_list[i]
    question_list = question_dict[s_id]
    correct_list = correct_dict[s_id]
    if len(question_list) != len(correct_list):
        continue
    if 2 in correct_list:
        continue
    writer.writerow([len(question_list)])
    writer.writerow(question_list)
    writer.writerow(correct_list)
f.close()

f = open('test_test.csv', mode='w', newline='')
writer = csv.writer(f)
for i in range(3789, 4210, 1):
    s_id = student_list[i]
    question_list = question_dict[s_id]
    correct_list = correct_dict[s_id]
    if len(question_list) != len(correct_list):
        continue
    if 2 in correct_list:
        continue
    writer.writerow([len(question_list)])
    writer.writerow(question_list)
    writer.writerow(correct_list)
f.close()

In [1]:
student_list

NameError: name 'student_list' is not defined